.contact-form{
    /* border: 1px solid rebeccapurple; */
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 60vh;
    margin-top: 4rem;
      /* scroll */
    padding-top: 4rem;
}

.c-right{
    /* border: 1px solid saddlebrown; */
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 16px;   
}

textarea{
    height: 4rem!important;
}
.submit_btn{
padding: 0.6rem 1.9rem;
}

@media screen and (max-width: 480px), (max-width: 780px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
        margin-top: 12rem;
    }
    .from_head{
        display: flex;
        text-align: center;
    }
    .c-right .user{
        width: 16rem;
    }

}   