.nav_wrap{
    /* border: 1px solid saddlebrown; */
    height: 10vh; 
    display: flex;
    justify-content: space-between;
    position: sticky;
}
.nav_left{
    /* border: 1px solid rebeccapurple; */
    flex: 1;
    align-items: center;
    display: flex;
    padding-left: 2%;
} 
.nav_name{
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(0, 113, 113);
}
.nav_right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
/* .nav_list{
    flex: 2;
} */
.nav_list>ul{
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}
.nav_list>ul>li:hover{
    cursor: pointer;
    color: orange;
}
.nav_btn{
    margin-left: 2rem;
    padding: 5px 10px 5px 10px;
}

@media screen and (max-width: 480px), (max-width: 780px) {
    .nav_list {
      display: none;
    }
  }